.pets {
  padding-top: 80px;
  padding-bottom: 80px;
}

.pets__title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
}

.pets__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.pets__item {
  box-sizing: border-box;
}

.pets__image {
  width: 100%;
  object-fit: cover;
  height: 200px;
  border-radius: 8px;
}

.pets__load {
  background-color: #ffb36c;
  width: 138px;
  height: 40px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: #000;
  margin-top: 40px;
}

.pets__description{
margin-top: 20px;
}




@media (max-width: 480px) {
  .pets {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .pets__title {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .pets__list {
    gap: 15px;
    padding: 10px;
  }

  .pets__item {
    width: 100%;
    max-width: 300px;
  }

  .pets__image {
    height: 150px;
  }

  .pets__load {
    width: 100%;
    height: 36px;
  }
}

@media (min-width: 481px) and (max-width: 1199px) {
  .pets__item {
    width: 45%;
    max-width: 260px;
  }

  .pets__image {
    height: 180px;
  }
}

@media (min-width: 1200px) {
  .pets__item {
    width: calc((100% - 60px) / 4);
  }

  .pets__image {
    height: 200px;
  }
}
