.nocity__modal {
  width: 600px;
  background-color: white;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 28px 80px;
  text-align: center;
  box-sizing: border-box;
}

.nocity__alert{
    font-size: 70px;
    color: red;
}

@media (min-width: 321px) and (max-width: 480px) {
  .nocity__modal {
    width: 90%;
    max-width: 350px;
    padding: 24px 40px;
  }


}

@media (min-width: 769px) and (max-width: 1199px) {
  .nocity__modal {
    width: 500px;
    padding: 28px 60px;
  }
  
}

@media (min-width: 1200px) {
  .nocity__modal {
    width: 600px;
    padding: 28px 80px;
  }
}
