.header {
  height: 80px;
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  align-items: center;
}

.header__menu {
  background: none;
  border: none;
  margin-left: auto;
  display: none;
  color: #000;
}

.header .container {
  display: flex;
  align-items: center;
  width: 100%;
}

.header__list {
  display: flex;
  gap: 49px;
  margin-left: 111px;
}

.header__link {
  color: black;
  font-family: 'Montserrat Alternates';
}

.header__button {
  margin-left: auto;
  margin-right: 27px;
  width: 89px;
  height: 35px;
  background-color: #FFB36C;
  border: none;
  color: black;
  border-radius: 10px;
}

.header__user {
  width: 50px;
  height: 50px;
  margin-left: auto;
  border-radius: 50%;
}

@media (max-width: 480px), (min-width: 481px) and (max-width: 1199px) {
  .header {
    height: auto;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .header__menu {
    display: block;
  }

  .header .container {
    display: flex;
    width: 100%;
  }

  .header__list {
    display: none;
  }

  .header__button {
    display: none;
  }

  .header__user {
    display: none;
  }
}
